{% extends "gogreen/base_generic.html" %}
{% block content %}
  <style>
    body {
      background-image: url('/static/images/wallp.avif'); 
      background-size: cover;
      text-align: center;
      padding: 50px;
      margin: 0;
      color: white; 
    }

    h1, h2 {
      color: green; 
    }

    button {
      background-color: #4CAF50;
      color: white;
      width: 150px;
      height: 150px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px;
      cursor: pointer;
      border: none; 
      border-radius: 8px;
      overflow: hidden;
    }

  
    button.sell-button {
      background: url('/static/images/sell.jpg') no-repeat center center;
      background-size: cover;
    }

    button.buy-button {
      background: url('/static/images/buy.jpg') no-repeat center center;
      background-size: cover;
    }

    button:hover {
      background-color: #45a049;
    }
  </style>

  <h1>Go Green</h1>
  <h2>Buy and Sell your plants</h2>
  

  <a href="{% url 'gogreen:create_listing' %}"><button class="sell-button">Sell Samplings</button></a>
  <a href="{% url 'gogreen:plant_list' %}"><button class="buy-button">Buy Samplings</button></a>
{% endblock content %}
