option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: projectgreen.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "projectgreen.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static